<h2 class="center second">Seleccionar Jefe</h2>
<h3 class="center second">Paso 1</h3>
<hr />
<br />
<p class="center">
  ¡Selecciona tu jefe!
</p>
<br />
<%= form_for(@evaluation, url: evaluation_url(@evaluation)) do |f| %>
  <div class="row p-4">
    <div class="offset-md-2 col-sm-8">
      <%= f.hidden_field :resource, value:2 %>
      <%= f.hidden_field :step, value:2 %>
      <%= f.collection_select(:boss_id, current_user.get_bosses, :id, :full_name, {include_blank:'SELECCIONE'}, {required:true, class:'styled-select'}) %>
      <%= f.submit t('general.buttons.submit'), class:"btn btn-default floatRight m-4" %>
    </div>
<% end %>
