<p id="notice"><%= notice %></p>

<h1>Evaluations Competencies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations_competencies.each do |evaluations_competency| %>
      <tr>
        <td><%= link_to 'Show', evaluations_competency %></td>
        <td><%= link_to 'Edit', edit_evaluations_competency_path(evaluations_competency) %></td>
        <td><%= link_to 'Destroy', evaluations_competency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluations Competency', new_evaluations_competency_path %>
