<h2 class="center second">Administrar Datos</h2>
<br />
<br />

<div class="offset-sm-3 col-sm-6">
  <%= link_to Area.model_name.human(:count => 2), areas_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to Charge.model_name.human(:count => 2), charges_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to ContractType.model_name.human(:count => 2), contract_types_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to GenerationRange.model_name.human(:count => 2), generation_ranges_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to Genre.model_name.human(:count => 2), genres_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to GoalType.model_name.human(:count => 2), goal_types_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <hr />
  <br />
  <%= link_to Departament.model_name.human(:count => 2), departaments_path, class:"btn btn-grad mb-2 fw" %>
  <br />
  <%= link_to City.model_name.human(:count => 2), cities_path, class:"btn btn-grad mb-2 fw" %>

</div>
