<%= javascript_include_tag "periods" %>

<%= form_with(model: period, local: true) do |form| %>
  <% if period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(period.errors.count, "error") %> prohibited this period from being saved:</h2>
      <ul>
      <% period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class="row p-4">

    <div class="col-sm-5">
      <%= form.label :code, "Código", class:'form-label' %>
      <%= form.text_field :code, required:true, pattern:'[0-9A-Z ]*', title:t('general.messages.mayus_num'), class:'form-control' %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.label :name, "Nombre", class:'form-label' %>
      <%= form.text_field :name, required:true, pattern:'[0-9A-Z ]*', title:t('general.messages.mayus_num'), class:'form-control' %>
    </div>

  </div>

  <br />

  <div class="actions">
    <%= form.submit t('general.buttons.submit'), class:"btn btn-default floatRight" %>
  </div>
<% end %>
