<%= javascript_include_tag "users" %>

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class="input-group">
    <div class="col-sm-5">
      <%= form.label :document, "Tipo de Documento", class:'form-label' %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.label :document, "Documento", class:'form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.collection_select(:identification_type_id, IdentificationType.get_name_sorted, :id, :name, {include_blank:'SELECCIONE'}, {class:'form-control'}) %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.number_field :document, required:true, placeholder:'NÚMERO COMPLETO', title:t('general.messages.num'), class:'form-control' %>
    </div>
    <div class="col-sm-5">
      <%= form.label :first_name, "Primer Nombre", class:'form-label' %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.label :second_name, "Segundo Nombre", class:'form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :first_name, required:true, placeholder:'NOMBRE COMPLETO', title:t('general.messages.mayus_num'), class:'form-control' %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.text_field :second_name, required:true, placeholder:'NOMBRE COMPLETO', title:t('general.messages.mayus_num'), class:'form-control' %>
    </div>
    <div class="col-sm-5">
      <%= form.label :first_lastname, "Primer Apellido", class:'form-label' %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.label :first_lastname, "Segundo Apellido", class:'form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :first_lastname, required:true, placeholder:'APELLIDO COMPLETO', title:t('general.messages.mayus_num'), class:'form-control' %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.text_field :second_lastname, required:true, placeholder:'APELLIDO COMPLETO', title:t('general.messages.mayus_num'), class:'form-control' %>
    </div>
    <div class="col-sm-5">
      <%= form.label :first_lastname, "Departamento", class:'form-label' %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <%= form.label :first_lastname, "Ciudad o Municipio", class:'form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.collection_select(:departament_id, Departament.get_name_sorted, :id, :name, {include_blank:'SELECCIONE'}, {id:'departament', required:true, class:'form-control'}) %>
    </div>
    <div class="offset-sm-1 col-sm-5">
      <select name="user[city_id]" id="cities" required="true" class="form-control">
        <option value="<%= user.city_id %>">SELECCIONE</option>
      </select>
    </div>
    <div class="col-sm-5">
    </div>
    <div class="offset-sm-1 col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="offset-sm-1 col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="offset-sm-1 col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="offset-sm-1 col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="offset-sm-1 col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="offset-sm-1 col-sm-5">
    </div>
  </div>

  <br />

  <div class="actions">
    <%= form.submit t('general.buttons.submit'), class:"btn btn-default floatRight" %>
  </div>
<% end %>
