<h2 class="center second">Aceptar Evaluados</h2>
<br />
<br />

<table class="table table-responsive-sm">
  <thead class="first">
    <tr>
      <th>Nombre</th>
      <th></th>
      <th>Aceptar</th>
      <th>Rechazar</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class='clickable-row' data-href='<%= user_path(user) %>'><%= user.full_name %></td>
        <td></td>
        <td>
          <%= form_for(user, url: update_step_user_url(user)) do |f| %>
            <%= f.hidden_field :step, value: 3 %>
            <%= f.button :submit, class:'minibtn btn-default' do %>
              <span class="fa fa-user-plus">
            <% end %>
          <% end %>
        </td>
        <td>
          <%= form_for(user, url: update_step_user_url(user)) do |f| %>
            <%= f.hidden_field :step, value: 1 %>
            <%= f.button :submit, class:'minibtn btn-default' do %>
              <span class="fa fa-user-times">
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
