<%= javascript_include_tag "step5" %>
<h2 class="center second">Seguimiento de Objetivos</h2>
<h3 class="center second">Paso 5</h3>
<hr />
<br />
<p class="center">
  Seguimiento de tus objetivos!
</p>
<br />
<%= form_for(@evaluation, url: evaluation_url(@evaluation)) do |f| %>
  <div class="row p-4">

    <%= f.hidden_field :resource, value:2 %>
    <%= f.hidden_field :step, id:"step" %>

    <%= f.label :evaluations_goals, "Objetivos", class:'m-4 form-label' %>
    <div class="col-sm-12">
      <div id="evaluations_goals_container" class="evaluations_goals">
        <%= f.fields_for :evaluations_goals do |evaluations_goal| %>
        <%= render 'evaluations_goal_follow', f: evaluations_goal %>
        <% end %>
      </div>
    </div>

  </div>
  <%= f.submit t('general.buttons.submit'), id:'submit_butt', class:"btn btn-default floatRight m-4" %>
<% end %>
