<%= javascript_include_tag "areas" %>

<div class="col-sm-12 border rounded p-5">

  <h2 class="center second">Áreas</h2>

  <hr />

  <table class="table table-responsive-sm">
    <thead class="first">
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @areas.each do |area| %>
        <tr class='clickable-row' data-href='<%= edit_area_path(area) %>'>
          <td><%= area.code %></td>
          <td><%= area.name %></td>
          <td><%= link_to 'Editar', edit_area_path(area) %></td>
          <td><%= link_to 'Borrar', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Area', new_area_path %>

</div>
